.navbar {
  display: flex;
  align-items: center;
  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #00f;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
